/*  your css code here. If applicable */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #011e29;
    color: white;
    padding: 25px;
    text-align: center;
	
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
	gap: 10px;
	
}
.box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
	height: 150px;
}

.main-article {
    width: 40%;
	height: 300px;
    text-align: center;
}

.pictorial-news-section img {
    width: 100%;
    height: 110px;
    object-fit: cover;
    margin-top: 12px;
    border-radius: 6px;
}
.pictorial-news-section {
    text-align: center;
}

#news{
	height: 450px;
}
